.btnz{
    font-size: 22px;
   border:none !important;
   outline: none;
   background-color: rgb(220, 231, 232) ;
   color: rgb(20, 145, 194);
   padding: 7px 15px;
}
.down{
    margin :1% auto 0px auto ;
    width: 60%;
    height: 2%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px; 
    background-color: rgb(220, 233, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.up{
  
     margin :1% auto 0px auto ;
    width: 60%;
    height: 2%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: rgb(220, 233, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
      
    
}
.up p{
    padding: 7px 15px;
    font-weight: 600;
    color: rgb(20, 145, 194);
    font-size: 19px;
}

.down p{
    padding: 7px 15px;
    font-weight: 600;
    color: rgb(20, 145, 194);
    font-size: 19px;
}

.content{

    margin :0px auto 0px auto ;
    width: 60%;
    /* border-top :none !important;
    border : 2px solid skyblue;*/
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px; 
    background-color: rgb(220, 233, 232);

}
.content p{
    padding: 7px 15px;
  
    color: white ;
  
}
span{
    color: rgb(20, 145, 194);
}

