
.style{
    border:3px solid grey;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 10px 5px  rgb(231, 219, 219);

}
.styling{
  
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
  
    margin-top: 3%;
}
img{
    width:600px;
    height:400px;
    
    margin-bottom: 6%;
}
h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2%;
    color: Grey;
   
}
h4{
    text-align: center;
    text-transform: uppercase;
  
    color: Grey;
}
p{
    text-align: center;
    text-transform: uppercase;
  
    color: Grey;
}
.btns{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
}
h1{
    text-align: center;
    text-transform: uppercase;
    background-color: grey;
    color: white;
    margin-top: 0px;
    padding:10px 0px;
}


   
   