.styling{
  
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.style{
    border:3px solid grey;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 10px 5px  rgb(231, 219, 219);

}
img{
    width:300px;
    height:300px;
    border-top : 1px solid black;
    border-bottom : 1px solid black;
}
h3{
    text-align: center;
    text-transform: uppercase;
  
    color: Grey;
   
}
h4{
    text-align: center;
    text-transform: uppercase;
  
    color: Grey;
}
p{
    text-align: center;
    text-transform: uppercase;
  
    color: Grey;
}
.header{
    text-align: center;
    text-transform: uppercase;
    background-color: grey;
    color: white;
    margin-top: 0px;
    padding:10px 0px;
  

}


